@import "@/assets/_variables.scss";
@import "@/assets/_navbar.scss";
@import '~bootstrap/dist/css/bootstrap.css';
@import '@/assets/_mixins.scss';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap');

//Icons
@import 'https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css';





// Styling

*{

    .container-fluid{
    background:#e0e0e2;;
    }
    .error{
        color: $warning;
        font-size: 14px;
        margin: 16px 0;;
    }
    

}